{% extends 'base_adm.html' %}

{% block conteudo %}
<title>Barbearia - Administração</title>
<main>
    <section class="wrapper-geral">
        <div class="gerenciar">


            <div class="options">
                <a href="#">Barbearia</a>
            </div>

            <div class="options">
                <a href="{% url 'profissionais' %}">Profissionais</a>
            </div>

            <div class="options">
                <a href="#">Horários</a>
            </div>

            <div class="options">
                <a href="#">Serviços</a>
            </div>

            <div class="options">
                <a href="#">Usuários</a>
            </div>

        </div>
    </section>
</main>
{% endblock %}