{% extends 'base_dashboard.html' %}

{% block conteudo %}
<title>Dashboard</title>
<main>
    <div class="dinamicos">
        <div class="utilitarios">
            <div id="utilitarios-agendamentos" class="agendamentos">
                <h5>Agendamentos</h5>
            </div>

            <div id="utilitarios-historico" class="historico">
                <h5>Histórico</h5>
            </div>

            <!-- <div id="utilitarios-horarios-disponiveis" class="horarios-disponiveis">
                <h5>Horários disponíveis</h5>
            </div> -->

            <div id="utilitarios-dashboard" class="dashboard">
                <h5>Dashboard</h5>
            </div>
        </div>
    </div>
    <section id="section-agendamentos" class="agendamentos">
        <!-- <div class="busca-por-nome">
            <input type="text" name="pesquisar" id="pesquisar" placeholder="Nome do cliente" class="form-control">
        </div> -->
        <div class="dashboard">
            {% for agendamento in agendamentos %}
            {% if not agendamento.finalizado %}
            <style>
                .agendamentos .dashboard .card-personalizado::after {
                    background-color: #E5B817;
                }
            </style>
            {% endif %}
            <div class="card-personalizado">
                <div>
                    <p style="display: flex; flex-wrap: wrap; justify-content: space-between;"><span style="font-size: 25px;">{{agendamento.nome_cliente|title}}</span><span>{{ agendamento.data|date:"d/m/y" }} - {{agendamento.horario_selecionado}}</span>
                    </p>
                </div>
                <div class="profissional-servico">
                    <p><span style="color: rgba(220, 220, 220, 0.277);">Profissional</span><br>{{agendamento.profissional_selecionado|title}}</p>
                    <p><span style="color: rgba(220, 220, 220, 0.277);">Serviço</span><br>{{agendamento.servico_selecionado}}</p>
                    <div style="display: flex; justify-content: flex-end;">
                        <a href="{% url 'finalizar' agendamento.id %}"
                            onclick="return confirm('Finalizar serviço?')">Finalizar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="section-historico" class="historico" style="display: none;">
        <!-- <div class="busca-por-nome">
            <input type="text" name="pesquisar" id="pesquisar" placeholder="Nome do cliente" class="form-control">
        </div> -->
        <div class="itens">
            {% for historico in historicos %}
            {% if historico.finalizado %}
            <style>
                .historico .itens .card-personalizado::after {
                    background-color: green;
                }
            </style>
            {% endif %}
            <div class="card-personalizado">
                <div>
                    <p style="display: flex; flex-wrap: wrap; justify-content: space-between;"><span style="font-size: 25px;">{{historico.nome_cliente|title}}</span><span>{{ historico.data|date:"d/m/y" }} - {{historico.horario_selecionado}}</span></p>
                </div>
                <div class="profissional-servico">
                    <p><span style="color: rgba(220, 220, 220, 0.277);">Profissional</span><br>{{historico.profissional_selecionado|title}}</p>
                    <p><span style="color: rgba(220, 220, 220, 0.277);">Serviço</span><br>{{historico.servico_selecionado}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="section-horarios-disponiveis" class="horarios-disponiveis" style="display: none;">
        <h1>Horários disponíveis</h1>
    </section>

    <section id="section-dashboard" class="dashboard" style="display: none;">
        <div class="dash">
            <div class="card-personalizado">
                <div>
                    <h4 style="color: gainsboro;">Hoje</h4>
                    <h4 style="color: gainsboro;">{{total_agendamentos_hoje}}</h4>
                </div>
                <div>
                    <h4 style="color: gainsboro;">Abertos</h4>
                    <h4 class="card-title" style="color: gainsboro;">{{agendamentos_abertos_hoje}}</h4>
                </div>
                <div>
                    <h4 style="color: gainsboro;">Finalizados</h4>
                    <h4 class="card-title" style="color: gainsboro;">{{agendamentos_fechados_hoje}}</h4>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
    const sections = {
        "utilitarios-agendamentos": "section-agendamentos",
        "utilitarios-historico": "section-historico",
        "utilitarios-horarios-disponiveis": "section-horarios-disponiveis",
        "utilitarios-dashboard": "section-dashboard"
    };

    // Inicialmente, destaque a primeira opção
    const firstOption = document.getElementById("utilitarios-agendamentos");
    if (firstOption) {
        firstOption.classList.add("opcaoSelecionada");
    }

    for (const [utilitarioId, sectionId] of Object.entries(sections)) {
        const utilitarioElement = document.getElementById(utilitarioId);
        if (utilitarioElement) {
            utilitarioElement.addEventListener('click', function () {
                // Remover a classe 'opcaoSelecionada' de todas as opções
                Object.keys(sections).forEach(id => {
                    const element = document.getElementById(id);
                    if (element) {
                        element.classList.remove("opcaoSelecionada");
                    }
                });

                // Adicionar a classe 'opcaoSelecionada' ao utilitário clicado
                utilitarioElement.classList.add("opcaoSelecionada");

                // Ocultar todas as seções e exibir a seção correspondente ao utilitário clicado
                Object.values(sections).forEach(sectionId => {
                    const sectionElement = document.getElementById(sectionId);
                    if (sectionElement) {
                        sectionElement.style.display = "none";
                    }
                });

                const sectionElement = document.getElementById(sectionId);
                if (sectionElement) {
                    sectionElement.style.display = "block";
                }
            });
        }
    }

    function filterCards(sectionId, query) {
        const cards = document.querySelectorAll(`#${sectionId} .card-personalizado`);
        cards.forEach(card => {
            const text = card.innerText.toLowerCase();
            const searchTerm = query.toLowerCase();
            if (text.includes(searchTerm)) {
                card.style.display = "";
            } else {
                card.style.display = "none";
            }
        });
    }
});

    </script>
</main>
{% endblock %}
