{% extends 'base_dashboard.html' %}
{% load static %}

{% block conteudo %}
<title>Horários</title>
<style>
    body {
        background-color: #212325;
    }
</style>
<main>
    <section class="horarios">
        <div class="container-horarios">
            {% for horario in horarios %}
            <div class="card-personalizado-preferencias" data-horario-id="{{ horario.id }}">
                {{ horario.horario }}
                <button class="btn remover-horario" data-horario-id="{{ horario.id }}">Excluir</button>
            </div>
            {% endfor %}
        </div>

        <!-- Botão para apagar todos os horários -->
        <form action="#" method="post" class="remover-todos-horarios">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir Todos os Horários</button>
        </form>

        <!-- Formulário para adicionar horários -->
        <form action="#" method="post" class="novo-horario">
            {% csrf_token %}
            <label for="horario_inicio">Início:</label>
            <input type="time" id="horario_inicio" name="inicio" required>
            <label for="horario_fim">Fim:</label>
            <input type="time" id="horario_fim" name="fim" required>
            <label for="intervalo">Intervalo:</label>
            <input type="number" id="intervalo" name="intervalo" min="15" step="15" required>
            <button type="submit" class="btn adicionar">Adicionar Horário</button>
        </form>
    </section>
</main>
{% endblock %}