{% extends 'base_dashboard.html' %}
{% load static %}

{% block conteudo %}
<section class="servicos">
    <div class="div-servicos">
        <div class="scroll-div">
            {% for servico in servicos %}
            <div>
                <div class="card-personalizado-preferencias" data-servico-id="{{ servico.id }}"
                    data-servico-nome="{{ servico.servico }}">
                    <h5>{{ servico.servico }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
        <form action="{% url 'adicionar_servico' %}" method="post" class="novo-servico">
            {% csrf_token %}
            <!-- <p>Novo Profissional</p> -->
            <!-- <label for="nome">Nome</label> -->
            <input class="form-control" type="text" name="servico" id="servico" placeholder="Novo serviço" required
                autocomplete="off">
            <button type="submit" class="btn adicionar">Adicionar</button>
        </form>
    </div>
</section>
{% endblock %}